
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="sass/main.scss">
    <link rel="stylesheet" href="sass/main.css">
   
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    

    <title>NutriEd</title>
    <script src="https://kit.fontawesome.com/fc035b45ba.js" crossorigin="anonymous"></script>
    

</head>
<header>
    <div class="header_container">
        <div class="header_logo">
            <!--add the business logo-->
            <img id="logo" src="../NutriEd Logo-01.jpg" alt="logo">
        </div>
        <!--navbar section-->
        <div class="header_navbar">
            <ul class="navbar">
                <li class="navbar_items"><a href="./index.html">Home</a></li>
                <li class="navbar_items"><a href="#">About Me</a></li>
                <li class="navbar_items"><a href="../pages/blogs.html">Blog</a></li>
                <li class="navbar_items"><a href="#">Fees</a></li>

            </ul>
        </div>
    </div>

</header>