<footer>
    <div class="footer-section">
        <div class="foot-section-title"><h2 id="footer-title">Sign up for the latest profiles</h2></div>
        <div class="footer-section-form">
            <form action="https://formsubmit.co/jpgefen@gmail.com" method="POST">
                <input type="text" name="name" id="name" class="form input btn" placeholder="Your Name">
                <input type="email" name="email" id="email" class="form input btn" placeholder="Your Email">
                <input type="hidden" name="_subject" value="New subscriber from nutriEd website!">
                <input type="submit" value="subscribe" class="form subscribe btn" placeholder="subscribe">
            </form>
        </div>
        <div class="footer-section-details">
            <div class="contact">
                <h3 class="contact_title footer-h3">Get In Touch</h3>
                <div class="contact_phone">
                    <div class="phone-icon contact_icon"><i class="fas fa-phone "></i></div>
                    <div class="contact_number"><p class="contact_number-text">+44 7511233648</p></div>
                </div>
                <div class="contact_email">
                    <div class="email-icon contact_icon"><i class="fas fa-envelope"></i></div>
                    <div class="contact_email-address"><p class="contact_email-text">dovid97@gmail.com</p></div>
                </div>
                
            </div>
            <div class="about-me footer-h3">
                <h3 class="footer-h3">About Me</h3>
                <p class="about_me-txt">I am a family man living in the North East of England. I have always been curious to learn how the body functions and how nutrients play a role in our everyday finction and well-being. I am very passionate about sharing my experiences with other people, so please be in touch!</p>
            </div>
            <div class="qualifications">
                <div class="img-1">
                    <img class="qual-img" src="/qualification-1.svg" alt="nwc uni">
                    
                </div>
                <div class="img-2">
                    <img class="qual-img" src="/qualificatio-2.svg" alt="training terminal">
                </div>
            </div>
        </div>
    </div>

</footer>