<header>
    <div class="header_container">
        <div class="header_logo">
            <!--add the business logo-->
            <img id="logo" src="./NutriEd Logo-01.jpg" alt="logo">
        </div>
        <!--navbar section-->
        <div class="header_navbar">
            <ul class="navbar">
                <li class="navbar_items">Home</li>
                <li class="navbar_items">About Me</li>
                <li class="navbar_items">Fees</li>
                <li class="navbar_items">Contact</li>

            </ul>
        </div>
    </div>

</header>